<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jardín Escuela e Instituto Jesús Nazareno</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header>
        <div class="header-container">
            <div class="header-brand">
<img src="{{ url_for('static', filename='logo.jpg') }}" alt="Escudo Institucional" class="header-logo">            <nav>
                <ul>
                    <li><a href="{{ url_for('inicio') }}">Inicio</a></li>
                    <li><a href="{{ url_for('quienes') }}">Nosotros</a></li>
                    <li><a href="{{ url_for('servicios') }}">Servicios</a></li>
                    <li><a href="{{ url_for('acerca') }}">Acerca</a></li>
                    <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 Jardín Escuela e Instituto Jesús Nazareno - Todos los derechos reservados.</p>
        <p class="footer-social">
            Contáctanos: 
            <a href="https://www.facebook.com/share/1D74RmNSwm/" target="_blank">Facebook Oficial</a> | 
            <a href="https://wa.me/50431913765" target="_blank">WhatsApp: 31913765</a>
        </p>
    </footer>

</body>
</html>